.container{
    width: 1120px;
}
.mainpage{
    background-image: url(./Img.png);
    position: relative;
    background-size: cover;
    background-position: center;
}
.mainpage::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(47, 53, 63, 0.4);
}